*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: #333;
font-family: sans-serif;
-webkit-tap-highlight-color: transparent;
-webkit-overflow-scrolling: touch; /* Para el scroll fluido en IOS */
}

ul, li {
list-style: none;}


a:link, a:visited, a:hover, a:active {
text-decoration: none;}

input[type="text"], 
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea{
outline: none;}

